/* form */
.container label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  box-sizing: border-box;
}
.container input, .container textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container button:hover {
  background: #218838;
}
.container h2{
  text-align: center;
  color: #333;
}
.container{
  min-width: 200px;
  max-width: 420px;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-submit-btn{
  width: 100%;
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

/* home */
.wrapper-home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-home {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.container-home > h2{
  color: #333;
  margin-bottom: 20px;
}
.a {
  display: block;
  width: calc(100% - 40px);
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: #007bff;
  border-radius: 4px;
  text-align: center;
}
.a:hover {
  background: #0056b3;
}